.features-list {
  @media screen and(max-width:767 px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  & .title {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  & .item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
    }
  }
}

.features-list .item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.background {
  @include centeredFlex();

  background-color: #f5f4fa;
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    width: 450px;
    height: 120px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  color: $secondaryTextColor;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
