.portfolio-content {
  padding-top: 60px;

  @media screen and(min-width:1200px) {
    padding-top: 93px;
  }
}
.selection {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  margin-bottom: 40px;

  @media screen and(min-width:768px) {
    @include centeredFlex();
    margin-bottom: 30px;
  }

  @media screen and(min-width:1200px) {
    @include centeredFlex();
    margin-bottom: 50px;
  }

  & .button {
    padding: 6px 22px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $textcolor;
    background-color: #f5f4fa;
    border-radius: 4px;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.selection .button-list:not(:last-child) {
  margin-right: 8px;
}

.selection .button-list :nth-child(-n + 3) {
  @media screen and(max-width:767px) {
    margin-bottom: 15px;
  }
}
.selection .button:hover,
.selection .button:focus {
  color: $whitecolor;
  background-color: $accentcolor;
}

.selection .button-all {
  padding: 6px 22px;
  color: $whitecolor;
  background-color: $accentcolor;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
}

.projects {
  margin: 0;
  padding-left: 0;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
  }

  & .item {
    margin-bottom: 30px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);

    @media screen and(min-width:768px) {
      width: calc((100% - 60px) / 2);
      margin: 15px;
    }
    @media screen and(min-width:1200px) {
      width: calc((100% - 90px) / 3);
      margin: 15px;
    }
  }
}

.projects .link {
  @extend %link;
  color: $textcolor;
}
.thumb {
  position: relative;
  overflow: hidden;
}
.projects .project-image {
  height: 294px;
}
.project-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0);
  opacity: 1;
}
.project-text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;

  justify-content: center;
  padding: 63px 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: $whitecolor;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: $whitecolor;
}

.project-title {
  margin-bottom: 4px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-selection {
  margin: 0;
  padding: 0;
  color: $secondaryTextColor;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
